<!-- Modal -->
<div class="modal fade right" id="modalQuickView" tabindex="-1" role="dialog" aria-labelledby="exampleModalPreviewLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="onClose()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalPreviewLabel">{{yearNum}} - {{monthNum}} - {{dayNum}}</h5>
      </div>
      <app-loading-screen *ngIf="flag==0"></app-loading-screen>

      <div class="modal-body text-center row" *ngIf="flag" >
        <div *ngFor="let evnt of events; let i=index" class="col-md-2 col-4">
          <app-time-reservation [eventItem]="evnt" (saved)="savedTime()" ></app-time-reservation>
        </div>
      </div>
      <div class="modal-footer  justify-content-center">
        <button type="button" class="btn btn-block btn-secondary" (click)="onClose()" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-block btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
