<div class="card">
  <h5 class="card-header h5">Featured</h5>
  <div class="card-body">
    <div class="d-flex container p-2 my-2 justify-content-center">
      <!-- <label for="select"></label> -->
      <button class="btn col-md-2 btn-primary" (click)="updateFlag()"> بحث
        <span *ngIf="isLoading" class="spinner-border spinner-border-lg" role="status" aria-hidden="true"></span>
      </button>
    </div>
    <div class="col-12 text-right">
      <span class="badge badge-pill badge-danger">&nbsp; </span>
      <label>&nbsp; محجوز</label>

      <label>&nbsp; &nbsp;|&nbsp; &nbsp;</label>

      <span class="badge badge-pill badge-default">&nbsp; </span>
      <label>&nbsp; متوفر</label>

      <label>&nbsp; &nbsp;|&nbsp; &nbsp;</label>

      <span class="badge badge-pill badge-warning">&nbsp; </span>
      <label>&nbsp; متوفر جزئيا </label>
    </div>
<br>
<app-loading-screen *ngIf="flag==0"></app-loading-screen>
  
  <br>
  <!-- Table  -->
  <ng-container *ngIf="flag==1; else elseTemplate">
     <div class="table-responsive" > 
    <table class="table  table-bordered text-right">

      <!-- Table head -->
      {{resetCount()}}
      <thead class=" text-center ">
        <tr>

          <th>الأحد</th>
          <th>الأثنين</th>
          <th>الثلاثاء</th>
          <th>الأربعاء</th>
          <th>الخميس</th>
          <th>الجمعة</th>
          <th>السبت</th>


        </tr>
      </thead>
      <!-- Table head -->

      <!-- Table body -->
      <tbody>
        <tr *ngFor="let week of weeks">

          <td #td_tag class=" hoverable " *ngFor="let day of days">
            <!-- print only the whole month  -->
            <div *ngIf="(firstDay <= day || (week>0 ) ) && ( week<5 || lastDay >=day) && (counterDays<=totalDays)">
              <input type="hidden" name="{{(counter())}}">
              <app-cells-items [cleanderEvent]="clndrEvntarry[countNum]" [day]="counterDays" [month]="month" [year]="year" [td]='td_tag' [dayWeek]='day'
                (refreshSchedule)="refreshPag()">
              </app-cells-items>
            </div>
          </td>

        </tr>

      </tbody>
      <!-- Table body -->
    </table>
  </div>
  </ng-container>
  <ng-template #elseTemplate>
    
  </ng-template>
  
 
  <!-- Table  -->
</div>
</div>